body {
    margin: 0;
  }
  
  header {
    background-image: url("cover_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: "Agbalumo";
  }

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    /* background-color: rgba(255,255,255,0.5); */
    display: flex;
    justify-content: space-around;
  }
  
  header li a {
    margin-top: 3px;
    display: inline-block;
    color: black;
    padding: 2px;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 900;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  header li a:hover {
      color: red;
      font-size: larger;
  }
  header section {
    text-align: center;
    margin: auto auto;
    margin-top: 150px;
    color: white;
    /* border: 1px solid black; */
  }
  
  #first {
    font-size: 35px;
  }
  #tag {
    font-size: 50px;
  }
  #link {
    border-radius: 10px;
    background-color: tomato;
    padding: 3px;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  nav {
    background-color: black;
    padding: 10px;
  }
  


  .footer {
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last {
    font-size: 10px;
    color: grey;
  }
  .end {
    color: red;
  }

  .box{
    display: flex;
    justify-content: space-around;
  }

  .box-item{
    margin: 10px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
  }

  .box img{
    width: 200px;
    height: 200px;
  }

  .content{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
  }

 .box1{
  background-color: aqua;
 }

 .box2{
  background-color: lightpink;
 }
 .box3{ 
  background-color: lightgreen;
 }

 .book{
  display: flex;
  margin-top: 10px;
 }

#pg{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

